/* body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(190, 9, 15) 0%, rgb(224, 215, 215) 55%, rgba(2,0,36,1) 100%);
}

#gray{
  background:rgb(156, 148, 148);
  
}

#red{
  background:rgb(196, 16, 16);
  
}
.hidden{
 display: none;
} */
.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(178, 32, 66);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left:500px;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
}

.Quiz {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgb(178, 32, 66);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left:500px;
}

.Menu, .Quiz, .EndScreen h1 {
  color: black;
}

.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color:rgb(178, 32, 66);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left:500px;
}

#nextQuestion {
  width: 200px;
}

h3 {
  color: #ffffff;

}